<nav>
  <img width="50" height="50" src="https://images.unsplash.com/photo-1637354563042-9a1d26500ff5?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTYzNzk4NjMyMw&ixlib=rb-1.2.1&q=80&w=1080">
  <ul>
    <li><a href="#"> Admin </a> </li>
    <li><a href="#"> Reistro </a> </li>
    <li><a href="#"> Baja </a> </li>
    <li><a href="#"> Microchip </a> </li>
    <li><a href="#"> Inventario </a> </li>
    <li><a href="#"> Gerencial </a> </li>
    <li><a href="#"> Taxonomia </a> </li>
    <li><a href="#"> Monitoreo </a> </li>
    <li><a href="#"> Salir </a> </li>
  </ul>
</nav>
