<nav class="wrapperHeader">

  <div >
  <a href="login" >
  <img width="50" height="50" src="https://images.unsplash.com/photo-1637354563042-9a1d26500ff5?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTYzNzk4NjMyMw&ixlib=rb-1.2.1&q=80&w=1080">
  </a>
  <ul [ngStyle]="showBar()">
    <li  [ngStyle]="showAdmin()" ><a href="admin"> Admin </a> </li>
    <li><a href="registro"> Registro </a> </li>
    <li><a href="baja"> Baja </a> </li>
    <li><a href="microchip"> Microchip </a> </li>
    <li><a href="inventario"> Inventario </a> </li>

    <li><a href="taxonomia"> Taxonomia </a> </li>


    <li><a (click)="salir()"> Salir </a> </li>
  </ul>
  </div>
</nav>
