<h1 style="color:#E7DBDBFF;   padding-left: 20px;">Reporte gerencial</h1>


<div class="wrapper">
  <div class="wrapperLeft">

    <h1 class="subText">Reporte de gestion anual</h1>
    <h2 class="subText">----------------------------------------------</h2>


    <div >
      <h2 class="subText">Saldos inicio de gestion</h2>
      <img [src]="myVar">
    </div>

    <div >
      <h2 class="subText">Cantidad de animales registrados</h2>
      <img [src]="myVar">
    </div>


      <h2 class="subText">Saldos total {{saldoTotal}}</h2>




  </div>


  <div class="wrapperRigth">

    <h1>Reporte de gestion mensual</h1>
    <h1>---------------------------</h1>

    <div >
      <h2 class="subText">Enero</h2>
      <img [src]="myVar">
    </div>

    <div >
      <h2 class="subText">Febrero</h2>
      <img [src]="myVar">
    </div>

    <div >
      <h2 class="subText">Marzo</h2>
      <img [src]="myVar">
    </div>

    <div >
      <h2 class="subText">Abril</h2>
      <img [src]="myVar">
    </div>

    <div >
      <h2 class="subText">Mayo</h2>
      <img [src]="myVar">
    </div>

    <div >
      <h2 class="subText">Junio</h2>
      <img [src]="myVar">
    </div>

    <div >
      <h2 class="subText">Julio</h2>
      <img [src]="myVar">
    </div>

    <div >
      <h2 class="subText">Agosto</h2>
      <img [src]="myVar">
    </div>

    <div >
      <h2 class="subText">Septiembre</h2>
      <img [src]="myVar">
    </div>
    <div >
      <h2 class="subText">Octubre</h2>
      <img [src]="myVar">
    </div>

    <div >
      <h2 class="subText">Noviembre</h2>
      <img [src]="myVar">
    </div>

    <div >
      <h2 class="subText">Diciembre</h2>
      <img [src]="myVar">
    </div>
  </div>


</div>











