<h1 style="color:#E7DBDBFF;   padding-left: 20px;">Registro de microchip</h1>

<form [formGroup]="form" (ngSubmit)="save($event)">
  <div class="wrapper">
    <div class="wrapperLeft">

      <h2 class="subText">Agregue la informacion</h2>
      <h2 class="subText">----------------------------</h2>


      <div class="container">
        <div class="texts">
          <div class="name">Numero de microchip</div>
          <strong class="error" *ngIf="isBoxValid('numMicrochip')">Este campo es requerido</strong>
        </div>
        <input class="box" type="text" formControlName="numMicrochip"/>
      </div>

      <div class="container">
        <div class="texts">
          <div class="name">Tamaño</div>
          <strong class="error" *ngIf="isBoxValid('tamanio')">Este campo es requerido</strong>
        </div>
        <input class="box" type="text" formControlName="tamanio"/>
      </div>

      <div class="container">
        <div class="texts">
          <div class="name">Peso</div>
          <strong class="error" *ngIf="isBoxValid('peso')">Este campo es requerido</strong>
        </div>
        <input class="box" type="text" formControlName="peso"/>
      </div>

      <div class="container">
        <div class="texts">
          <div class="name">Caracteristicas fenotipicasp</div>
          <strong class="error" *ngIf="isBoxValid('caracteristicasFenotipicas')">Este campo es requerido</strong>
        </div>
        <input class="box" type="text" formControlName="caracteristicasFenotipicas"/>
      </div>

      <h2 class="subText">Datos de vacunacion</h2>
      <h2 class="subText">----------------------------</h2>

      <div class="container">
        <div class="texts">
          <div class="name">Rabia</div>
          <strong class="error" *ngIf="isBoxValid('rabia')">Este campo es requerido</strong>
        </div>
        <select class="box" formControlName="rabia">
          <option *ngFor="let rabia of isRabia"
                  [value]="rabia">
            {{rabia}}
          </option>
        </select>
      </div>

      <div class="container">
        <div class="texts">
          <div class="name">Desparazitacion</div>
          <strong class="error" *ngIf="isBoxValid('desparacitacion')">Este campo es requerido</strong>
        </div>
        <select class="box" formControlName="desparacitacion">
          <option *ngFor="let desparazitacion of isDesparatizacion"
                  [value]="desparazitacion">
            {{desparazitacion}}
          </option>
        </select>
      </div>


      <div class="container">
        <div class="texts">
          <div class="name">Otros</div>
          <strong class="error" *ngIf="isBoxValid('otros')">Este campo es requerido</strong>
        </div>
        <input class="box" type="text" formControlName="otros"/>
      </div>

      <div class="container">
        <div class="texts">
          <div class="name">Desparazitacion</div>
          <strong class="error" *ngIf="isBoxValid('tiposDesparacitacion')">Este campo es requerido</strong>
        </div>
        <select class="box" formControlName="tiposDesparacitacion">
          <option *ngFor="let desparazita of desparazitaciones"
                  [value]="desparazita">
            {{desparazita}}
          </option>
        </select>
      </div>

      <h2 class="subText">----------------------------</h2>


      <div class="container">
        <div class="texts">
          <div class="name">Observaciones</div>
          <strong class="error" *ngIf="isBoxValid('observaciones')">Este campo es requerido</strong>
        </div>
        <input class="box" type="text" formControlName="observaciones"/>
      </div>

      <div class="container">
        <div class="texts">
          <div class="name">CI de encargado</div>
          <strong class="error" *ngIf="isBoxValid('ciEncargado')">Este campo es requerido</strong>
        </div>
        <input class="box" type="num" formControlName="ciEncargado"/>
      </div>


    </div>


    <div class="wrapperRigth">

      <h2 class="subTextRight"> Datos  </h2>

      <h2 class="subTextRight"> - - - - - - - - - - - - - - - -  </h2>

      <form class="wrapperRigth" [formGroup]="seachForm" (ngSubmit)="onSearch($event)">


        <div class="boxLarge" [ngStyle]="showComboBox()">
          <div class="texts">
            <div class="name">Escoger opcion</div>
            <strong class="error" *ngIf="isBoxSearchValid('selectBox')">Este campo es requerido</strong>
          </div>
          <select class="box" formControlName="selectBox">
            <option *ngFor="let selected of selectBoxes"
                    [value]="selected">
              {{selected}}
            </option>
          </select>
        </div>

        <div class="boxLarge" id="SelectedBox" [ngStyle]="showSelectedBox()">
          <div class="texts">
            <div class="name">  {{  getFormSearchValue("selectBox") }} </div>
            <strong class="error" *ngIf="isBoxSearchValid('selectedBox')">Este campo es requerido</strong>
          </div>
          <input class="box" type="text" formControlName="selectedBox"/>
        </div>

        <p class="boxLarge"  [ngStyle]="showSelectedBox()" >
          <button class="buttonSubmit" type="submit" >Buscar</button>
        </p>






      </form>

      <h5 class="subTextRight" [ngStyle]="showFieldText()"> Nombre: {{ getTextFielValueNombre() }} </h5>
      <h5 class="subTextRight" [ngStyle]="showFieldText()"> Nombre cientifico: {{ getTextFielValueNombreCientifico() }} </h5>
      <h5 class="subTextRight" [ngStyle]="showFieldText()"> Especie: {{ getTextFielValueEspecie() }} </h5>
      <h5 class="subTextRight" [ngStyle]="showFieldText()"> Sexo: {{ getTextFielValueSexo() }} </h5>
      <h5 class="subTextRight" [ngStyle]="showFieldText()"> Edad: {{ getTextFielValueEdad() }} </h5>

      <p class="containerRight" [ngStyle]="showFieldText()"  >

        <button (click)="backToSelect()"  class="buttonSubmit" type="button" >Volver a elegir</button>
      </p>

      <p class="containerRight">
        <button class="buttonSubmit" type="submit">Enviar</button>
      </p>

    </div>


  </div>
</form>
