<div class="d-flex flex-row bd-highlight mb-3">

    <div class="form-froup row" style="width: 60%;">
    
        <label class="col-sm-2 col-form-label">User Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" [(ngModel)]="UserName"
            placeholder="Enter User Name">
        </div>
    
        <label class="col-sm-2 col-form-label">User Last Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" [(ngModel)]="UserLastName"
            placeholder="Enter Last Name">
        </div>

        <label class="col-sm-2 col-form-label">User Password</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" [(ngModel)]="UserPassword"
            placeholder="Enter User Password">
        </div>

        <label class="col-sm-2 col-form-label">User Position</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" [(ngModel)]="UserPosition"
            placeholder="Enter User Position">
        </div>
    
        
    
    <button (click)="addUser()" *ngIf="user.UserId==0" class="btn btn-primary">
        Add User
    </button>
    
    <button (click)="updateUser()" *ngIf="user.UserId!=0" class="btn btn-primary">
        Update User
    </button>