



<form [formGroup]="form" (ngSubmit)="save($event)">
  <div class="wrapper">
    <h1 >Bienvenido al sistema del zoologico</h1>

    <div class="wrapperCenter">



      <h2 class="subText">Inicio de sesion</h2>

      <div class="container">
        <div class="texts">
          <div class="name">user email</div>
          <strong class="error" *ngIf="isBoxValid('user')">Este campo es requerido</strong>
        </div>
        <input class="box" type="email" formControlName="user"/>
      </div>

      <div class="container">
        <div class="texts">
          <div class="name">password</div>
          <strong class="error" *ngIf="isBoxValid('password')">Este campo es requerido</strong>
        </div>
        <input class="box" type="password" formControlName="password"/>
      </div>


      <p class="container">
        <button class="buttonSubmit" type="submit">LogIn</button>
      </p>


    </div>
  </div>


</form>
