<h1 style="color:#E7DBDBFF;   padding-left: 20px;">Administrador</h1>


<form [formGroup]="form" (ngSubmit)="save($event)">
  <div class="wrapper">
    <div class="wrapperLeft">
      <h2 class="subText"> Agregue la informacion </h2>

      <div class="container">
        <div class="texts">
          <div class="name">Carnet de identidad</div>
          <strong class="error" *ngIf="isBoxValid('ci')">Este campo es requerido</strong>
        </div>
        <input class="box" type="number" formControlName="ci"/>
      </div>

      <div class="container">
        <div class="texts">
          <div class="name">Razon Social</div>
          <strong class="error" *ngIf="isBoxValid('razon_social')">Este campo es requerido</strong>
        </div>
        <input class="box" type="text" formControlName="razon_social"/>
      </div>

      <div class="container">
        <div class="texts">
          <div class="name">Domicilio</div>
          <strong class="error" *ngIf="isBoxValid('domicilio')">Este campo es requerido</strong>
        </div>
        <input class="box" formControlName="domicilio"/>
      </div>


      <div class="container">
        <div class="texts">
          <div class="name">Telefono</div>
          <strong class="error" *ngIf="isBoxValid('telefono')">Este campo es requerido</strong>
        </div>
        <input class="box" type="tel" formControlName="telefono"/>
      </div>

      <div class="container">
        <div class="texts">
          <div class="name">Correo electronico</div>
          <strong class="error" *ngIf="isBoxValid('email')">Este campo es requerido</strong>
        </div>
        <input class="box" type="email" formControlName="email"/>
      </div>

      <div class="container">
        <div class="texts">
          <div class="name">Nombre</div>
          <strong class="error" *ngIf="isBoxValid('nombre')">Este campo es requerido</strong>
        </div>
        <input class="box" type="text" formControlName="nombre"/>
      </div>

      <div class="container">
        <div class="texts">
          <div class="name">Apellido</div>
          <strong class="error" *ngIf="isBoxValid('apellido')">Este campo es requerido</strong>
        </div>
        <input class="box" type="text" formControlName="apellido"/>
      </div>

      <div class="container">
        <div class="texts">
          <div class="name">Password</div>
          <strong class="error" *ngIf="isBoxValid('password')">Este campo es requerido</strong>
        </div>
        <input class="box" type="password" formControlName="password"/>
      </div>

      <div class="container">
        <div class="texts">
          <div class="name">Root</div>

        </div>
        <input class="box" type="checkbox" formControlName="root"/>
      </div>

      <div class="container">
        <div class="texts">
          <div class="name">Autorizado</div>

        </div>
        <input class="box" type="checkbox" formControlName="autorizado"/>
      </div>





    </div>

    <div class="wrapperRigth">

      <p class="containerRight" >
        <button class="buttonSubmit" type="submit" >Agregar</button>
      </p>

      <p class="containerRight" >
        <button (click)="btnModificar()" class="buttonSubmit" type="button" >Modificar</button>
      </p>

      <p class="containerRight" >
        <button (click)="btnBorrar()" class="buttonSubmit" type="button" >Borrar</button>
      </p>



    </div>
  </div>
</form>








