<h1 style="color:#E7DBDBFF;   padding-left: 20px;">Reporte gerencial</h1>



  <div class="wrapper">
    <div class="wrapperLeft">

      <h1 class="subText">Datos</h1>
      <h2 class="subText">----------------------------------------------</h2>


      <div >

        <img [src]=myVar>
      </div>




    </div>

    <div class="wrapperRigth">

      <h1 class="subTextRight">Seleccione por cual quiere buscar</h1>
      <h1 class="subTextRight">-------------</h1>


        <img class="containerRight"
             [src]=fotoDefecto
             [ngStyle]="showSelectedBox()">



      <form class="wrapperRigth" [formGroup]="seachForm" (ngSubmit)="onSearch($event)">


        <div class="boxLarge" [ngStyle]="showComboBox()">
          <div class="texts">
            <div class="name">Escoger opcion</div>
            <strong class="error" *ngIf="isBoxSearchValid('selectBox')">Este campo es requerido</strong>
          </div>
          <select class="box" formControlName="selectBox" (click)="setImage()">
            <option *ngFor="let selected of selectBoxes"
                    [value]="selected">
              {{selected}}
            </option>
          </select>
        </div>

        <div class="boxLarge" id="SelectedBox" [ngStyle]="showSelectedBox()">
          <div class="texts">
            <div class="name">  {{  getFormSearchValue("selectBox") }} </div>
            <strong class="error" *ngIf="isBoxSearchValid('selectedBox')">Este campo es requerido</strong>
          </div>
          <input class="box" type="text" formControlName="selectedBox"/>
        </div>

        <p class="boxLarge"  [ngStyle]="showSelectedBox()" >
          <button class="buttonSubmit" type="submit" >Buscar</button>
        </p>


      </form>



    </div>
  </div>


