<h1 style="color:#E7DBDBFF;   padding-left: 20px;">Registrar animales</h1>




<form [formGroup]="form" (ngSubmit)="save($event)">
  <div class="wrapper">
    <div class="wrapperLeft">

      <h2 class="subText">Ingresar datos</h2>

      <div class="container">

        <div class="texts">
          <div class="name">Nombre del CCFS</div>
          <strong class="error" *ngIf="isBoxValid('ccfs')">Este campo es requerido</strong>
        </div>


        <input class="box" type="text" formControlName="ccfs"/>


      </div>

      <div class="container">
        <div class="texts">
          <div class="name">Especie</div>
          <strong class="error" *ngIf="isBoxValid('especie')">Este campo es requerido</strong>
        </div>
        <input class="box" type="text" formControlName="especie"/>

      </div>

      <div class="container">
        <div class="texts">
          <div class="name">Lugar de Exposicion</div>
          <strong class="error" *ngIf="isBoxValid('lugarExp')">Este campo es requerido</strong>
        </div>
        <input class="box" type="text" formControlName="lugarExp"/>


      </div>

      <div class="container">
        <div class="texts">
          <div class="name">Precedencia</div>
          <strong class="error" *ngIf="isBoxValid('precedencia')">Este campo es requerido</strong>
        </div>
        <select class="box" formControlName="precedencia">
          <option *ngFor="let place of places"
                  [value]="place">
            {{place}}
          </option>
        </select>
      </div>

      <div class="container">
        <div class="texts">
          <div class="name">Nro. acta de decomiso</div>
          <strong class="error" *ngIf="isBoxValid('numActa')">Este campo es requerido</strong>
        </div>
        <input class="box" type="number" formControlName="numActa"/>


      </div>

      <div class="container">
        <div class="texts">
          <div class="name">Modalidad de funcionamiento</div>

        </div>
        <select class="box" formControlName="modFuncionamiento">
          <option *ngFor="let modFunc of modFuncs"
                  [value]="modFunc">
            {{modFunc}}
          </option>
        </select>

      </div>

      <div class="container">
        <div class="texts">
          <div class="name">Codigo de identificacion</div>
          <strong class="error" *ngIf="isBoxValid('codIdentificacion')">Este campo es requerido</strong>
        </div>
        <input class="box" formControlName="codIdentificacion"/>

      </div>

      <div class="container">
        <div class="texts">
          <div class="name">Area de ingreso</div>
          <strong class="error" *ngIf="isBoxValid('areaIngreso')">Este campo es requerido</strong>
        </div>
        <select class="box" formControlName="areaIngreso">
          <option *ngFor="let area of areas"
                  [value]="area">
            {{area}}
          </option>
        </select>

      </div>

      <div class="container">
        <div class="texts">
          <div class="name">Motivo de recepcion</div>
          <strong class="error" *ngIf="isBoxValid('motivoIngreso')">Este campo es requerido</strong>
        </div>
        <select class="box" formControlName="motivoIngreso">
          <option *ngFor="let motivo of motivos"
                  [value]="motivo">
            {{motivo}}
          </option>
        </select>

      </div>
      <div class="container">
        <div class="texts">
          <div class="name">Nro. autorizacion de traslado</div>
          <strong class="error" *ngIf="isBoxValid('numAutorizacion')">Este campo es requerido</strong>
        </div>
        <input class="box" type="number" formControlName="numAutorizacion"/>


      </div>

      <h2 class="subText"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</h2>

      <div class="container">
        <div class="texts">
          <div class="name">Nombre o razon social</div>
          <strong class="error" *ngIf="isBoxValid('nombre')">Este campo es requerido</strong>
        </div>
        <input class="box" type="text" formControlName="nombre"/>
      </div>

      <div class="container">
        <div class="texts">
          <div class="name">Telefono</div>
          <strong class="error" *ngIf="isBoxValid('telefono')">Este campo es requerido</strong>
        </div>
        <input class="box" type="tel" formControlName="telefono"/>
      </div>
      <div class="container">
        <div class="texts">
          <div class="name">Nro. formulario M.M.A.A</div>
          <strong class="error" *ngIf="isBoxValid('numFormMMAA')">Este campo es requerido</strong>
        </div>
        <input class="box" type="number" formControlName="numFormMMAA"/>
      </div>
      <div class="container">
        <div class="texts">
          <div class="name">Domicilio</div>
          <strong class="error" *ngIf="isBoxValid('domicilio')">Este campo es requerido</strong>
        </div>
        <input class="box" formControlName="domicilio"/>
      </div>
      <div class="container">
        <div class="texts">
          <div class="name">Correo</div>
          <strong class="error" *ngIf="isBoxValid('correo')">Este campo es requerido</strong>
        </div>
        <input class="box" type="email" formControlName="correo"/>
      </div>
      <div class="container">
        <div class="texts">
          <div class="name">Recibido por</div>
          <strong class="error" *ngIf="isBoxValid('recibidoPor')">Este campo es requerido</strong>
        </div>
        <input class="box" type="text" formControlName="recibidoPor"/>

      </div>





    </div>
    <div class="wrapperRigth">
      <div class="containerRight">
        <input  type="file" (change)="uploadFile($event)" formControlName="image"/>
      </div>

      <div class="containerRight">
        <div class="texts">
          <div class="name">Nombre propio</div>
          <strong class="error" *ngIf="isBoxValid('nombrePropio')">Este campo es requerido</strong>
        </div>
        <input class="box" type="text" formControlName="nombrePropio"/>
      </div>

      <div class="containerRight">
        <div class="texts">
          <div class="name">Fecha de recepcion</div>
          <strong class="error" *ngIf="isBoxValid('fechaRecepcion')">Este campo es requerido</strong>
        </div>
        <input class="box" type="date" formControlName="fechaRecepcion"/>
      </div>



      <div class="containerRight">
        <div class="texts">
          <div class="name">Sexo</div>
          <strong class="error" *ngIf="isBoxValid('sexo')">Este campo es requerido</strong>
        </div>
        <select class="box" formControlName="sexo">
          <option *ngFor="let sexo of sexos"
                  [value]="sexo">
            {{sexo}}
          </option>
        </select>
      </div>




      <div class="containerRight">
        <div class="texts">
          <div class="name">Edad</div>
          <strong class="error" *ngIf="isBoxValid('edad')">Este campo es requerido</strong>
        </div>
        <select class="box" formControlName="sexo">
          <option *ngFor="let edad of edades"
                  [value]="edad">
            {{edad}}
          </option>
        </select>
      </div>

      <div class="containerRight">
        <div class="texts">
          <div class="name">Nombre criollo</div>
          <strong class="error" *ngIf="isBoxValid('nombreCriollo')">Este campo es requerido</strong>
        </div>
        <input class="box" type="text" formControlName="nombreCriollo"/>
      </div>
      <div class="containerRight">
        <div class="texts">
          <div class="name">Nombre Comun</div>
          <strong class="error" *ngIf="isBoxValid('nombreComun')">Este campo es requerido</strong>
        </div>
        <input class="box" type="text" formControlName="nombreComun"/>
      </div>


      <p class="containerRight">
        <button class="buttonSubmit" type="submit">Enviar</button>
      </p>

    </div>




  </div>






  <div class="wrapper">
    <div class="wrapperLeft">


    </div>

    <div class="wrapperRigth">




    </div>


  </div>




</form>


